body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ensure the body takes up the full viewport height */
    margin: 0; /* Remove default margin to ensure content is centered */
  }

  /* Optional: Add styling to the card */
  mat-card {
    max-width: 400px; /* Adjust card width as needed */
    padding: 16px;
    text-align: center;
  }

  h1 {
    margin-top: 40px; /* Adjust top margin as needed */
    font-size: 54px;
    text-align: center;
  }