<h1>Контакти</h1>
<body>

    <mat-card>
      <mat-card-content>
        <p><strong>Име:</strong> Данаил Антонов</p>
        <p><strong>Имейл:</strong> john.doe@example.com</p>
        <p><strong>Телефон:</strong> (123) 456-7890</p>
        <p><strong>Адрес:</strong> Скутаре</p>
      </mat-card-content>
    </mat-card>
    <mat-card>

      <mat-card-content>
        <p><strong>Име:</strong> Георги Кълчищаров</p>
        <p><strong>Имейл:</strong> john.doe@example.com</p>
        <p><strong>Телефон:</strong> (123) 456-7890</p>
        <p><strong>Адрес:</strong> Скутаре</p>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-content>
        <p><strong>Име:</strong> Станимира Кълчищарова</p>
        <p><strong>Имейл:</strong> john.doe@example.com</p>
        <p><strong>Телефон:</strong> (123) 456-7890</p>
        <p><strong>Адрес:</strong> Скутаре</p>
      </mat-card-content>
    </mat-card>
  </body>
