.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    margin: 10px;
  }
  
  img {
    max-width: 100%;
    max-height: 200px;
  }